<a href="https://colab.research.google.com/github/manishaachary13/Alma_study/blob/main/Notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

What
is a Series?
A Pandas Series is like a column in a table.

It is a one-dimensional array holding data of any type.

Create Labels
With the index argument, you can name your own labels.

The keys of the dictionary become the labels.

DataFrames
Data sets in Pandas are usually multi-dimensional tables, called DataFrames.

Series is like a column, a DataFrame is the whole table.

Pandas use the loc attribute to return one or more specified row(s)

Load Files Into a DataFrame
If your data sets are stored in a file, Pandas can load them into a DataFrame.

A simple way to store big data sets is to use CSV files (comma separated files).

CSV files contains plain text and is a well know format that can be read by everyone including Pandas.

use to_string() to print the entire DataFrame.

If you have a large DataFrame with many rows, Pandas will only return the first 5 rows, and the last 5 rows:

max_rows
The number of rows returned is defined in Pandas option settings.

You can check your system's maximum rows with the pd.options.display.max_rows statement.

https://www.w3schools.com/python/pandas/data.js

One of the most used method for getting a quick overview of the DataFrame, is the head() method.

The head() method returns the headers and a specified number of rows, starting from the top.

Remove Rows
One way to deal with empty cells is to remove rows that contain empty cells

By default, the dropna() method returns a new DataFrame, and will not change the original.

If you want to change the original DataFrame, use the inplace = True argument:

Now, the dropna(inplace = True) will NOT return a new DataFrame, but it will remove all rows containing NULL values from the original DataFrame.

Another way of dealing with empty cells is to insert a new value instead.

This way you do not have to delete entire rows just because of some empty cells.

The fillna() method allows us to replace empty cells with a value:

example:df.fillna(130, inplace = True)

To only replace empty values for one column, specify the column name for the DataFrame:

A common way to replace empty cells, is to calculate the mean, median or mode value of the column.

Cells with data of wrong format can make it difficult, or even impossible, to analyze data.

To fix it, you have two options: remove the rows, or coLet's try to convert all cells in the 'Date' column into dates.

Pandas has a to_datetime() methodnvert all cells in the columns into the same format.

To discover duplicates, we can use the duplicated() method.

The duplicated() method returns a Boolean values for each row

To remove duplicates, use the drop_duplicates() method.

The corr() method ignores "not numeric" columns.

The Result of the corr() method is a table with a lot of numbers that represents how well the relationship is between two columns.

The number varies from -1 to 1.

1 means that there is a 1 to 1 relationship (a perfect correlation), and for this data set, each time a value went up in the first column, the other one went up as well.

0.9 is also a good relationship, and if you increase one value, the other will probably increase as well.

-0.9 would be just as good relationship as 0.9, but if you increase one value, the other will probably go down.

0.2 means NOT a good relationship, meaning that if one value goes up does not mean that the other will.

What is a good correlation? It depends on the use, but I think it is safe to say you have to have at least 0.6 (or -0.6) to call it a good correlation.

In [ ]:
A greataspect of the Pandas module is the corr() method.
thi
The corr() method calculates the relationship between each column in your data set.

In [ ]:
df['Gender'] = df['Gender'].map({'M': 0, 'F': 1, }).astype(float)
                        })