<a href="https://colab.research.google.com/github/manishaachary13/Alma_study/blob/main/sqlite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import  sqlite3
connection=sqlite3.connect("aquarium.db")
print(connection.total_changes)

0

In [4]:
sqlite3.connect(':memory:')
# cursor object
# Syntax: cursor_object=connection_object.execute(“sql query”);

In [5]:
# create a hotel database
import sqlite3
connection=sqlite3.connect("hotel_data.db")

In [ ]:
# create table
connection.execute('''create table hotel
(FIND INT PRIMARY KEY     NOT NULL,
         FNAME           TEXT    NOT NULL,
         COST            INT     NOT NULL,
         WEIGHT        INT);
''')

In [9]:
# insert values into db
connection.execute(
    '''insert into hotel values
    (1, 'cakes',800,10 ),
    (2, 'biscuits',100,20 ),
    (3, 'chocos',1000,30 )'''
)

In [11]:
print("All data in food table\n")
cursor=connection.execute("select * from hotel")
for row in cursor:
  print(row)

All data in food table

(1, 'cakes', 800, 10)
(2, 'biscuits', 100, 20)
(3, 'chocos', 1000, 30)

In [12]:
import sqlite3
connection=sqlite3.connect("alma.db")
cursor=connection.cursor()

In [19]:
# create table
# Creating table
table ="""CREATE TABLE STUDENT_DATA(NAME VARCHAR(255), CLASS VARCHAR(255),
SECTION VARCHAR(255));"""
cursor.execute(table)

In [20]:
# Queries to INSERT records.
cursor.execute('''INSERT INTO STUDENT_DATA (CLASS, SECTION, NAME)
  VALUES ('7th', 'A', 'Raju')
  ''')

cursor.execute(
  '''INSERT INTO STUDENT_DATA (SECTION, NAME, CLASS) VALUES ('B', 'Shyam', '8th')''')

cursor.execute(
  '''INSERT INTO STUDENT_DATA(NAME, CLASS, SECTION ) VALUES ('Baburao', '9th', 'C')''')

cursor.execute(
  '''INSERT INTO STUDENT_DATA(NAME, CLASS, SECTION ) VALUES ('Ajith', '9th', 'C')''')

cursor.execute(
  '''INSERT INTO STUDENT_DATA(NAME, CLASS, SECTION ) VALUES ('Karnan', '8th', 'B')''')

cursor.execute(
  '''INSERT INTO STUDENT_DATA (NAME, CLASS, SECTION ) VALUES ('Abhishek', '10th', 'A')''')
cursor.execute(
  '''INSERT INTO STUDENT_DATA (NAME, CLASS, SECTION ) VALUES ('Kishore', '9th', 'C')''')

In [23]:
# Display data inserted
print("Data Inserted in the table: ")
# * is used to refer to all columns
data=cursor.execute('''SELECT * FROM STUDENT_DATA''')
for row in data:
    print(row)

Data Inserted in the table:
('Raju', '7th', 'A')
('Shyam', '8th', 'B')
('Baburao', '9th', 'C')
('Ajith', '9th', 'C')
('Karnan', '8th', 'B')
('Abhishek', '10th', 'A')
('Kishore', '9th', 'C')

In [24]:
# Commit your changes in
# the database
connection.commit()

# Closing the connection
connection.close